@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.sidebar{
    height: 95%;
    position: fixed;
    width: 6%;
}
.userpic{
    width: 48px;
    height: 48px;
    border: 1px solid rgba(0, 64, 128, 0.25);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.card1{
    background: #D0DDE9;
}
.bg-darkish{
    background-color: #00152A !important;
}
.cardtxt{
    color: #000;
    font-family: poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;
}
.cardtxt1{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
}
.seven{
    height: 24px;
}
.plctxt{
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}
.w-85{
    width: 88% !important;
}
.text p{
    color: #00152A;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}
.text small{
    color: #686D72;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
}
.updates{
    height: 332px;
    overflow-y: scroll;
}
.updates::-webkit-scrollbar{
    width: 2px;
}
.updates::-webkit-scrollbar-thumb{
    background-color: #888;
}
.d_inner::-webkit-scrollbar{
    display: none;
}
.pending{
    background-color: rgba(255, 0, 0, 0.131);
    cursor: pointer;
}
#inputCount{
    outline: none;
    height: 35px;
}
.msg_parent{
    display: none;
}
.activ{
    background-color: #00152A;
    color: #fff;
    padding:2% 3%;
    border-radius: 6px;
}
.msg{
    margin-bottom: 10px;
    padding:2% 3%;
}
.msg:hover{
    background-color: #00152A;
    color: #fff;
    border-radius: 8px;
    padding: 2% 3%;
}
.profile_filter, .order_filter{
    cursor: pointer;
}
.order_section{
    display: none;
}
.company_details{
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.04em;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 9999;
  }
  #close{
    cursor: pointer;
  }
  .input-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .input-row input {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
  }
.steps_input{
    height: 35px;
}
.delivered{
    background-color: rgba(6, 252, 6, 0.236);
    cursor: pointer;
}
.updates img{
    width: 32px;
    height: 32px;
}
.card2{
    height: 250px;
    background-color: #D0DDE9;
}
::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
}

/* Handle on the scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar handle */
    border-radius: 6px; /* Rounded corners of the scrollbar handle */
}

/* Handle on hover */
.card2::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar handle on hover */
}

/* Track */
.card2::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}
.revenue{
    height: 300px;
    overflow-y: scroll;
}
.revenue::-webkit-scrollbar{
    width: 2px;
}
.revenue::-webkit-scrollbar-thumb{
    background-color: #888;
}
.active{
    position: relative;
}
.sidebar svg{
    cursor: pointer;
}
.active::before{
    content: '';
    position: absolute;
    top: 0;
    left: -73%;
    width: 5px;
    height: 100%;
    background-color: #fff;
}
#userPieChart{
    height: 100px !important;
    width: 100px !important;
    margin: auto;
}
.legcontent{
    margin-top: 10%;
    height: 100px;
    overflow-y: scroll;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inpbtn{
    font-size: 10px;
    height: 35px;
}
.legcontent::-webkit-scrollbar{
    width: 3px;
}
.legcontent::-webkit-scrollbar-thumb{
    width: 3px;
    background-color: #888;
}
.labtxt{
    font-size: 14px;
}
#gaugeChart{
    height: 150px !important;
    width: 150px !important;
    margin: auto;
}
a{
    text-decoration: none;
    color: inherit;
}
.msg small, .mails small{
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.04em;
    text-align: left;

}
.msg p, .mails p{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;

}
.step{
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    font-size: 12px;
}
.running{
    background-color: rgba(6, 252, 6, 0.236);
}
.msghead small{
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.04em;
    text-align: left;

}
.friendchat{
    background: #2E3841;
    max-width: 372px;
    width: fit-content;
}
.friendchat p{
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.04em;
    text-align: left;
}
.friendchat span{
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.04em;
}
.yourchat{
    background: #3D4A56;
    max-width: 372px;
    width: fit-content;
}
.yourchat p{
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.04em;
    text-align: left;
}
.yourchat span{
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.04em;
}
.msgbody{
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 18%;
    /* display: block; */
}
.msgbody::-webkit-scrollbar {
    width: 3px; /* Adjust the width as needed */
}
.msgbody::-webkit-scrollbar-thumb {
    background-color: #888; /* Change the thumb color as needed */
    border-radius: 5px; /* Optional: Add rounded corners to the thumb */
}
.sendmsg{
    position: absolute;
    bottom: 3%;
    left: 0%;
    right: 0%;
    background-color: #00152A;
    /* width: 100%; */
}

.lst{
    font-size: 10px;
    font-weight: 400 !important;
    line-height: 15px;
    letter-spacing: -0.04em;
}
.receive{
    height: 500px;
    overflow-y: hidden;
}
.m_placeholder{
    display: block;
}
.receive_inner{
    height: 380px;
    overflow-y: scroll;
}
.receive_inner::-webkit-scrollbar{
    display: none;
}

.sendmsg textarea{
    resize: none;
    height: 45px;
    padding-top: 10px;
    padding-left: 4%;
    /* width: calc(100% - 100px); */
    background-color: #00152A;
    color: #FFF;
    border: 1px solid #fff;
    outline: none;
}
.sendbtn{
    outline: none;
    border: none;
    height: 45px;
}
.sendmsg textarea::placeholder{
    color: #fff;
}
.msgtable h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;

}
.msgtable a{
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.04em;
    text-align: left;
    text-decoration: none;
}
.msgtable th{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.04em;
    text-align: left;

}
.msgtable td{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;

}
.msgtable{
    height: 240px;
    overflow-y: scroll;
}
.msgtable::-webkit-scrollbar {
    width: 3px; /* Adjust the width as needed */
}
.msgtable::-webkit-scrollbar-thumb {
    background-color: #888; /* Change the thumb color as needed */
    border-radius: 5px; /* Optional: Add rounded corners to the thumb */
}
.open{
    position: relative;
}
.open::after{
    position: absolute;
    content: '';
    width: 50%;
    height: 3px;
    background-color: #00152A;
    border-radius: 6px;
    left: 0;
    bottom: -5px;
}
.all_msgs, .all_mails{
    display: none;
    cursor: pointer;
}
#mssgs, #mails{
    cursor: pointer;
}
.d_update img{
    width: 50px;
}

.d_inner{
    height: 430px;
    overflow-y: scroll;
}
.d_card{
    height: 430px;
    overflow-y: scroll;
}
.d_card textarea{
    resize: none;
    height: 100px;
}
#categoryForm label{
    font-size: 14px;
}
input[type="file"] {
    display: none;
  }
  
  .change_pic{
    position: absolute;
    top: 70%;
    right: 0%;
  }


  .del_filter{
    border-bottom: 1px solid #686D72;
    background-color: #D6D6D688;
    color: #9FA7AF;
    cursor: pointer;
  }
  .current{
    border: 0.5px solid #000;
   background-color: #fff;
   color: #00152A;
   }
   .show{
    display: block !important;
   }
   .delivered_content, .undelivered_content{
    height: 400px;
    overflow-y: scroll;
   }
   .undelivered_content{
    display: none;
   }

   .three h6{
    font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #2169B3;
  }
  .three p{
    font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  color: var(--font-color);
  }
  .three small{
    font-family: Poppins;
  font-size: 10px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: -0.04em;
  color: var(--txt-blue);
  }
  .trackbtn{
    font-size: 8px;
  }
@media(max-width: 767px){
    .w-85{
        width: 100% !important;
    }
    #sidenav{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        z-index: 20;
    }
    #mssg{
        display: none;
        position: fixed;
        top: 0;
        right: 2%;
        height: 100%;
        width: 80%;
        z-index: 10;
        overflow-y: scroll;
    }
    #shade{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.85);
        z-index: 10;
        display: none;
    }
}

