@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
  --bg-light-blue:#F4F9FE;
  --bg-deep-blue:#004080;
  --bg-blue: #2169B3;
  --txt-blue: #2169B3;
  --bg-blush: #00408040;
  --bg-whiteee: #fff;
  --font-color: #00152A;
  --secondary-font: #454A4F;
  --blu: #004080E5;
  --txt-mnt: #004080;
}
.dark_theme{
  --bg-light-blue: #121212;
  --bg-deep-blue:#004080;
  --bg-blue: #2169B3;
  --txt-blue: #fff;
  --bg-blush: #fff;
  --bg-whiteee: #3c3c3c;
  --font-color: #fff;
  --secondary-font: #ffffff8f;
  --blu: #fff;
  --txt-mnt: #fff;
}
html{
  background-color: var(--bg-light-blue);
}
a{
  text-decoration: none !important;
}
.text-sec{
  color: var(--secondary-font);
}
.normal_txt{
  color: var(--font-color);
}
.text-blu{
  color: var(--blu);
}
.crx{
  font-size: 6px;
  color: var(--font-color);
}
.parent{
    background-color: var(--bg-light-blue);
    /* width: 450px; */
    padding: 10px;
}
.bg-whiteee{
  background-color: var(--bg-whiteee)
}
.bg-ssj{
  background-color: #00408040;
}
.logo{
  width: 130px;
  margin-top: 10%;
}
.sidenav{
  background-color: var(--bg-deep-blue);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
}
.side_links{
  position: absolute;
  top: 30%;
}
.side_links ul{
  list-style: none;
}
.side_links ul li a{
  text-decoration: none;
  color: #fff;
}
.log_out{
  position: absolute;
  top: 60%;
  left: 15%;
}
.newh{
    height: 45px;
    width: 45px;
    display: grid;
    place-content: center;
}
.border-blue{
    border:1px solid #004080;
}
.del_content{
  cursor: pointer;
}
.profile p, .del_content p{
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: var(--font-color);
}

.del_filter{
  border-bottom: 1px solid #686D72;
  background-color: #D6D6D688;
  color: #9FA7AF;
}
.current{
  border: 0.5px solid #2169B3;
 background-color: var(--bg-light-blue);
 color: #00152A;
 }
 .show{
  display: block !important;
 }

 #outgoing_content{
  display: none;
 }
 #prog_content{
  display: none;
 }
 #await_content{
  display: none;
 }
 #com_content{
  display: none;
 }
 #disp_content{
  display: none;
 }
 #prog_content2{
  display: none;
 }
 #await_content2{
  display: none;
 }
 #com_content2{
  display: none;
 }
 #disp_content2{
  display: none;
 }

#warning_msg{
  display: none;
}
#warning{
  cursor: pointer;
}
.profile input{
    border: 1px solid #D4E9FF;
    outline: none;
    background-color: var(--bg-whiteee);
    height: 45px;
    color: var(--font-color);
}
.profile input::placeholder{
    color: #E1EAF2;
    padding-left: 10px;
}
.btn-blue{
    background-color: #004080 !important;
    color: #FFF !important;
    height: 45px;
}
.card_1{
    color: #F4F9FE !important;
    background-color: var(--bg-blue);
}
.card_1 h6{
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;

}
.card_1 small{
font-size: 8px;
font-weight: 400;
line-height: 12px;
letter-spacing: -0.04em;
text-align: left;

}
.card_1 p{
font-size: 10px;
font-weight: 700;
line-height: 15px;
letter-spacing: -0.04em;
text-align: left;
color: #fff;
}
.card_1 h5{
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: -0.04em;
text-align: left;

}
.bg-blue{
    background-color: var(--bg-deep-blue) !important;
}
.bg-blush{
  background-color: var(--bg-blush);
}
.location h6{
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: -0.04em;
position: relative;
}
.location h6::before{
    width: 4px;
    height: 4px;
    background-color: #D4E9FF;
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    border-radius: 50%;
}
.location .circ{
    width: 2px;
    height: 2px;
    background-color: #D4E9FF;
    border-radius: 50%;
    margin-top: 10px;

}
.location_2 h6{
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: -0.04em;
position: relative;
}
.location_2 h6::before{
    width: 4px;
    height: 4px;
    background-color: #6E6872;
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    border-radius: 50%;
}
.location_2 .circ{
    width: 2px;
    height: 2px;
    background-color: #6E6872;
    border-radius: 50%;
    margin-top: 10px;

}
.new_height{
  height: 200px !important;
}
#location_details{
  height: 0px;
  overflow: hidden;
}
.blush{
  font-family: Poppins;
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: -0.04em;
text-align: left;

}
.rtx{
  display: none;
}
.content-3 p{
font-size: 12px;
font-weight: 700;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: var(--font-color);
}
.delivery{
    background-image: url("../img/userdash/image\ 1.png");
    background-position: center;
    background-size: cover;
    height: 250px;
}
.market{
    background: url('../img/userdash/image\ 3.png');
    background-size: cover;
    /* background-position: top; */
    background-repeat: no-repeat;
    height: 120px;
}
.market small{
font-size: 10px;
font-weight: 300;
line-height: 15px;
letter-spacing: -0.04em;
text-align: left;
color: #F4F9FE;
}
.card_2{
    height: 150px;
    background-color: #004080;
}
.card_2 p{
font-size: 12px;
font-weight: 700;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: #F4F9FE;
}
.add_to_truck{
    height: 64px;
    width: 64px;
    background-color: var(--bg-whiteee);
    display: grid;
    place-items: center;
    position: fixed;
    top: 78%;
    right: 2%;
    z-index: 3;
    cursor: pointer;
}
.footnav{
    box-shadow: -1.0333333015441895px 1.0333333015441895px 1.0333333015441895px 0px #FFFFFF88 inset;

    box-shadow: 1.0333333015441895px -1.0333333015441895px 1.0333333015441895px 0px #D6D6D688 inset;

    box-shadow: 0px -1px 4px 0px #52729363;
    position: fixed;
    /* width: 100%; */
    z-index: 4;
    bottom: -5%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    /* background-color: #FFFFFF; */
    /* display: none; */
    width: 430px;


}
.disc{
  color: var(--font-color);
}
textarea{
  resize: none !important;
}
.pack{
font-size: 12px;
font-weight: 700;
line-height: 18px;
letter-spacing: -0.04em;
text-align: center;
color: var(--font-color);

}
.pickup_details h6{
font-size: 12px;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;

}
.pickup_content p{
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: #2169B3;
}
.pickup_content{
    box-shadow: 0px 1px 4px 0px #00000040;
}

.custom-file-label {
  border: 1px solid #ccc;
  display: inline-block;
  width: 24px; 
  height: 24px; 
  color: var(--secondary-font);
  font-size: 14px;
  cursor: pointer;
  background-color: var(--bg-light-blue);
  border-radius: 50%; 
  text-align: center;
}
.profile_img img{
  width: 80px;
  border-radius: 50%;
}


input[type="file"] {
  display: none;
}

.change_pic{
  position: absolute;
  top: 70%;
  right: 0%;
}

  
  .button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
  }
  
  .button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
  }
  
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .button {
    position: relative;
    width: 26.67px;
    height: 16px;
    overflow: hidden;
    border: 0.74px solid #2169B3 ;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }
  
  #button-3 .knobs:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 14px;
    height: 14px;
    color: #fff;
    /* text-align: center; */
    padding: 10%;
    background-color: #2169B3;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  }
  
  #button-3 .checkbox:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
  }
  
  #button-3 .checkbox:checked:active + .knobs:before {
    margin-left: 0;
  }
  
  #button-3 .checkbox:checked + .knobs:before {
    content: "";
    left: 10px;
    background-color: #f44336;
  }
  
  #button-3 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
  }

  .pickup_details input{
    border: 1px solid #D4E9FF;
    height: 45px;
    outline: none;
  }
  .pickup_details input::placeholder{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #CED8E1;

  }
  .pickup_details label{
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: -0.04em;
text-align: left;

  }
  .item_details{
    box-shadow: 0px 1px 4px 0px #00000040;
    /* padding-bottom: 20%; */

  }
  .pickup_main{
    padding-bottom: 5%;
  }
  .item_details h6, .report h6, .tracking_container h6{
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: #2169B3;
  }
.item_details select{
    height: 45px !important;
    border: 1px solid #D4E9FF;
    color: var(--font-color) !important;
    outline: none;
}
.pckg{
  color: var(--font-color);
}
.option{
    color: #CED8E1 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: -0.04em !important;
    text-align: left;

}
.item_details input{
    border: 1px solid #D4E9FF;
    outline: none;
    height: 45px;
}
.item_details input::placeholder{
    font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: #CED8E1;
}
.item_details textarea{
    border: 1px solid #D4E9FF;
    outline: none;
    height: 90px;
}
.item_details textarea::placeholder{
    color: #CED8E1;
    font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
resize: none;
}
.btn-blueish{
    background-color: #2169B3 !important;
    color: #fff !important;
    font-family: Poppins;
font-size: 12px !important;
font-weight: 500 !important;
line-height: 18px !important;
letter-spacing: -0.04em;
text-align: center;

}
.item_details label{
    font-family: Poppins;
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: -0.04em;
text-align: left;
}
.addbtn{
    border: 1px solid #2169B3;
    font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
outline: none;
background-color: #F4F9FE;
color: #2169B3;
}
.tshadow{
    box-shadow: 0px 1px 4px 0px #00000040;

}

.og_profile p{
    font-family: Poppins;
font-size: 12px;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.04em;
color: var(--font-color);

}
.warn{
    font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: #A46666;
}
.verify{
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: var(--font-color);
background: #00408040;
width: 203px !important;
border: 1px solid #D4E9FF
}
.edit{
    border: 1px solid var(--bg-blush);
    width: fit-content !important;
    /* height: 15px; */
    color: var(--font-color);

}
.kyc{
    font-family: Poppins;
font-size: 12px;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: var(--txt-mnt);
}
.mssg_head p{
  font-family: Poppins;
font-size: 12px;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.04em;
text-align: center;
color: #CED8E1;
}
.mssg_head small{
  font-family: Poppins;
font-size: 10px;
font-weight: 600;
line-height: 15px;
letter-spacing: -0.04em;
text-align: center;
color: #CED8E1;
}
.bg-blueish{
  background-color: #2169B3;
}
.bg-smblue{
  background-color: var(--bg-light-blue);
}
.date{
  font-family: Poppins;
font-size: 10px;
font-weight: 600;
line-height: 15px;
letter-spacing: -0.04em;
color: var(--secondary-font);
}
.firstmssg{
  max-width: 300px;
  height: fit-content;
  background-color: var(--bg-light-blue);
}
.firstmssg p{
  font-family: Poppins;
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color: var(--secondary-font);
}
.firstmssg span{
  font-family: Poppins;
font-size: 10px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.10000000149011612px;
text-align: right;
color: #C8CACB;

}
.secondmssg{
  background-color: #00408040;
  max-width: 300px;
  height: fit-content;
}
.secondmssg p{
  font-family: Poppins;
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color: var(--secondary-font);
}
.secondmssg span{
  font-family: Poppins;
font-size: 10px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.10000000149011612px;
text-align: right;
color: #686D72;
}
.mssg_body{
  height: 400px;
  padding-bottom: 20%;
}
.send_chat textarea{
  border: none;
  height: 35px;
  outline: none;
  /* height: auto; */
  background-color: var(--bg-whiteee);
  color: var(--secondary-font);
}
.msg_parent{
  width: 450px;
}
.allmsg_container p{
  font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.04em;
/* text-align: left; */
color: var(--font-color);

}
.allmsg_container{
  font-family: Poppins;
font-size: 10px;
font-weight: 300;
line-height: 15px;
letter-spacing: -0.04em;
text-align: left;
}
.allmsg_container span{
  font-family: Poppins;
font-size: 10px;
font-weight: 300;
line-height: 15px;
letter-spacing: -0.04em;
text-align: right;
color: #2169B3;
}
.delivery_content h6{
  font-family: Poppins;
font-size: 12px;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: var(--font-color);
}
.delivery_content p{
  font-family: Poppins;
font-size: 12px;
font-weight: 700;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: var(--txt-blue);
}
.delivery_content small{
  font-family: Poppins;
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: -0.04em;
text-align: left;
color: var(--font-color);

}
.delivery_content span{
  font-family: Poppins;
font-size: 12px;
font-weight: 700;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;

}
.rain h6{
  font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: #2169B3;
}
.rain p{
  font-family: Poppins;
font-size: 8px;
line-height: 12px;
letter-spacing: -0.04em;
text-align: left;
color: var(--font-color);
}
.delivery_content{
  overflow-y: scroll;
  /* padding-bottom: 10%; */
  height: 85vh;
}
.delivery_content::-webkit-scrollbar{
  width: 1px;
  background-color: #333;
}
.day{
  font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: var(--font-color)
}
.nshadow{
  box-shadow: 0px 0.20000000298023224px 1px 0px #00408040;
}
.nshadow small{
  font-family: Poppins;
font-size: 8px;
font-weight: 300;
line-height: 12px;
letter-spacing: -0.04em;
text-align: left;
color: var(--secondary-font);

}
.nshadow p{
  font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: var(--font-color);

}
.notification{
  padding-bottom: 10%;
}
.ish{
  padding: 0 10%;
}
.payment_main h6, .head6 h6{
  font-family: Poppins;
font-size: 12px;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.04em;
color: var(--font-color);
}
.payment_main p{
  font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: #2169B3;
}
.payment_main span{
  font-family: Poppins;
font-size: 12px;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: var(--font-color);
}
.confirmed{
  background-color: #0DDC2233;
  width: 100px;
  margin: 0 auto;
}
.amt{
  font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.04em;
color: var(--txt-blue);
}
.amt1{
  font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.04em;
color: var(--font-color);

}
.amt2{
  font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.04em;
color: var(--font-color);
}
.amt3{
  font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.04em;
color: var(--font-color);

}
.cst{
  font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: -0.04em;
color: var(--font-color);
}
.cst1{
  font-family: Poppins;
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: -0.04em;
color: var(--font-color);
}
.mt-9{
  margin-top: 10%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.head5 p{
  font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.04em;
text-align: center;
color: var(--txt-blue)
}
.amount{
  font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.04em;
text-align: right;
color: var(--font-color);

}
.dates input{
  border: 1px solid #D4E9FF;
  height: 45px;
  outline: none;
  color: #D4E9FF;
  border-radius: 10px;
  background-color: var(--bg-light-blue);
}
.atm{
  background-image: url('../img/userdash/Rectangle\ 161.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.atm p{
  margin-bottom: 0 !important;
  font-family: Inter;
  font-size: 6px;
  font-weight: 400;
  line-height: 7px;
  letter-spacing: -0.04em;
  color: #fff !important;

}
.atm h6{
  margin-bottom: 0 !important;
  font-family: Inter;
  font-size: 8px;
  font-weight: 400;
  line-height: 7px;
  letter-spacing: -0.04em;
  color: #fff !important;
}
.pre_atm{
  background-color: #0040801A;
  box-shadow: 0px 1px 4px 0px #00000040;

}
.pre_atm h5, .vic{
  font-family: Poppins;
font-size: 12px;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.04em;
text-align: center;
color: #2169B3;
}

.payment_container{
  width: 450px;
  padding-bottom: 5%;
  background-color: #fff;
}
.ovr::-webkit-scrollbar{
  height: 2px;
}
.ovr::-webkit-scrollbar-thumb {
  background: #2169B3;
}
.new_card{
  height: 170px;
}
.tracking_info p{
  font-family: Poppins;
font-size: 10px;
font-weight: 500;
line-height: 15px;
letter-spacing: -0.04em;
color: var(--font-color);
}
.tracking_info small{
  font-family: Poppins;
font-size: 8px;
font-weight: 400;
line-height: 12px;
letter-spacing: -0.04em;
text-align: left;
}
.loc_txt{
  font-family: Poppins;
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: -0.04em;

}
.tracking_container{
  padding-bottom: 10% !important;
}
.profile_container{
  position: relative;
}
#cam_icon{
  position: absolute;
  right: 0;
  top: 70%;
}
.profile_name{
  font-family: Poppins;
font-size: 12px;
font-weight: 600;
line-height: 18px;
letter-spacing: -0.04em;
text-align: center;
color: var(--font-color);
}
.easy{
  font-family: Poppins;
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: -0.04em;
text-align: left;
color: var(--blu);
}
.input_1{
  border: 1px solid #2169B3;
  height: 48px;
  background-color: var(--bg-whiteee);
}
.text-gen{
  color: var(--font-color);
}
.input_1::placeholder{
  font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: #CED8E1;
}
#gen_settings, #account_toggle, #plc_toggle{
  cursor: pointer;
}
.settings_main{
  height: 90vh;
}
.general_settings{
  width: 90%;
}
#gen{
  display: none;
}
#act{
  display: none;
}
#plc{
  display: none;
}
#arw_down{
  display: none;
}
#arw_down1{
  display: none;
}
#arw_down2{
  display: none;
}
.display p{
  font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.04em;
text-align: left;
color: var(--font-color);
}
.display input{
  accent-color: #2169B3;
  cursor: pointer;
}
.redux{
font-size: 11.5px !important;
font-weight: 700;
line-height: 18px;
letter-spacing: -0.04em;
color: #9FA7AF;
}
.active_del{
  color: var(--font-color) !important;
  border-bottom: 2px solid #2169B3;
}
.three h6{
  font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.04em;
color: #2169B3;
}
.three p{
  font-family: Poppins;
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: -0.04em;
color: var(--font-color);
}
.three small{
  font-family: Poppins;
font-size: 10px;
font-weight: 300;
line-height: 15px;
letter-spacing: -0.04em;
color: var(--txt-blue);
}
.trackbtn{
  width: 53px;
  /* height: 12px; */
  font-size: 8px !important;

}
.deli_content{
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 3%;
}
.kyc_content_1{
  padding-bottom: 10%;
}
.kyc_content p, .kyc_content_1 p{
  font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.04em;
color: var(--font-color);
}
.custom-file-upload {
  border: 1px solid #2169B3;
  display: inline-block;
  padding: 10px 16px;
  cursor: pointer;
  background-color: var(--bg-light-blue);
  border-radius: 10px; /* Adding border radius */
  color: #2169B3;
  font-size: 12px;
}

.custom-file-upload:hover {
  background-color: #F4F9FE;
}
input[type="file"] {
  display: none;
}
.custom-file-upload_2 {
  display: inline-block;
  padding: 14px 16px;
  cursor: pointer;
  background-color: #2169B3;
  border-radius: 10px; /* Adding border radius */
  color: #fff;
  font-size: 12px;
}
.kyc_content_1 small{
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: -0.04em;
text-align: left;
color: var(--secondary-font);
}
.kyc_content_1 h6{
  color: var(--txt-mnt);
  font-weight: 700;
}

@media(max-width: 767px){
  body{
    display: block;
  }
  .parent{
    width: 100%;
    padding: 0;
    height: 100% !important;
  }
  .footnav{
    width: 100%;
  }
  .pickup_main{
    padding-bottom: 20%;
  }
  .og_profile{
    background-image: url('../img/userdash/Vector\ 1.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .msg_parent{
    width: 100%;
    /* background-color: #fff; */
    height: 900px;
  }
  .delivery_content{
    overflow-y: scroll;
    padding-bottom: 30%;
  }
  .delivery{
    height: 150px;
  }
  .new_height{
    height: 120px !important;
  }
  .content-3{
    padding-bottom: 30%;
  }
  .notification{
    padding-bottom: 30%;
  }
  .ish{
    padding: 0;
    width: 100% !important;
  }
  .mt-9{
    margin-top: 40%;
  }
  .history{
    padding-bottom: 30% !important;
    background-color: var(--bg-whiteee);
  }
  .payment_container{
    width: 100%
  }
  .tracking_container{
    padding-bottom: 30% !important;
  }
  .kyc_content_1{
    padding-bottom: 30%;
  }
  .deli_content{
    height: 500px;
    padding-bottom: 30%;
  }
  .redux{
    overflow-x: scroll;
  }
}